.section-box-001 {
  margin: 6px;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  border: 2px dashed red;
  padding: 24px;
  line-height: 150%;
  /* text-align: center; */
}

main ul li a {
  color: var(--white-color);
}